* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
body { 
	font-family: "Corbel", "Calibri", "Arial";
}
.left-pane {
	width: 50%;
	float: left;
	padding: 0 5% 0 5%;
	border-right: 1px solid #ddd;
}
.right-pane {
	width: 50%;
	float: right;
	padding: 0 5% 0 5%;
}			

.hac { text-align: center; }
.vac { vertical-align: middle; }
.vat { vertical-align: top}
.box { margin: 1em; padding: 2em; position: relative; width: 25%; }
.box-label { 
	position: absolute; 
	top: -1em; 
	left: 0.1em; 
	text-transform: uppercase; 
	font-size: small; 
	font-weight: bold;
	padding: 0.1em 0.5em 0.1em 0.5em;
	background-color: #dddddd; 
}
.box-top { border: solid 2px silver; float: left; width: 22em; }
.box-middle { border: solid 2px darksalmon; width: 16em; }
.box-bottom { border: solid 2px blueviolet; width: 10em; }
.border3::after {clear: both;}
.no-bullets {
	list-style: none;
}
.fl { float: left }
.fr { float: right }
.clear { clear: both }
.ib { display: inline-block; }



/* START: flashy loader css */
	.loader {
		background-color: #0dc5c1;
		margin: 60px auto;
		font-size: 10px;
		position: relative;
		text-indent: -9999em;
		border-top: 1.1em solid rgba(255, 255, 255, 0.2);
		border-right: 1.1em solid rgba(255, 255, 255, 0.2);
		border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
		border-left: 1.1em solid #ffffff;
		-webkit-transform: translateZ(0);
		-ms-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-animation: load8 1.1s infinite linear;
		animation: load8 1.1s infinite linear;
	}
	.loader,
	.loader:after {
		border-radius: 50%;
		width: 10em;
		height: 10em;
	}
	@-webkit-keyframes load8 {
		0% {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		100% {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}
	@keyframes load8 {
		0% {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		100% {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}
/* END: flashy loader css */
	